<pageheader pagename="Docs" subtitle="Documentation"></pageheader>

<div class="conter-wrapper">	
	<div class="container">
			<div class="docs-content">
				<div id="installation">
				<h3>Installation</h3>
					<div class="subject-content">
						To use the Dashy Angular Theme, you need to make sure you have <code>bower</code>, <code>npm</code> and <code>gulp</code> globally installed. Now navigate to your app directory (<code>$ cd myAngularApp/</code>) and run the following terminal commands :
						<ul>
							<li>
								<code>$ bower install</code>
							</li>
							<li>
								<code>$ npm install</code>
							</li>
							<li>
								<code>$ gulp serve</code>
							</li>
						</ul>
						You have now succesfully set up Dashy Angular Theme!
					</div>
				</div>
				<div id="basics">
					<h3>Features</h3>
					<div class="subject-content">
						<div class="subject-content">
							Dashy is a lightweight and feature rich admin template which is clean and easy to use. 
							Current release comes with the following features:
							<ul class="features-list">
								<li>
									4 Different theme colors
								</li>
								<li>
									Responsive design based on Bootstrap 3.3.2
								</li>
								<li>
									Custom elements and plugins including:
									<ul class="features-list-extended">
										<li>
											Pure CSS3 checkbox, radio and On/Off switch elements
										</li>
										<li>
											 Wysiwig editor
										</li>
										<li>
											User Profile
										</li>
										<li>
											Email-template
										</li>
										<li>
											Customizable widgets in different colors and styles
										</li>
									</ul>
								</li>
								<li>
									Boostrap, Angular Bootstrap UI and third party plugins and elements including:
									<ul class="features-list-extended">
										<li>
											Dynamic Charts
										</li>
										<li>
											Tables
										</li>
										<li>
											Form validation
										</li>
										<li>
											Date Picker
										</li>
										<li>
											DateRange Picker
										</li>
										<li>
											Time Picker
										</li>
										<li>
											Carousel for Gallery
										</li>
										<li>
											Full Calendar
										</li>
										<li>
											Progress Bars
										</li>
										<li>
											Labels and Badges
										</li>
										<li>
											Collapse
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="widgets">
					<h3>Widgets</h3>
					<div class="subject-content">
						The following widgets have been used in Dashy Angular Theme :
						<div class="widget-docs">
							<div class="well">
								<h4>Panels</h4>
								<div class="widgets-docs-elements">
									<div class="panel panel-primary">
		  								<div class="panel-heading">
											<h3 class="panel-title">Primary Panel		  
											</h3>
										</div>
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation.
										</div>
									</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;div class="panel panel-primary"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Primary Panel		  
    &lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class="panel-body"&gt;
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation.
  &lt;/div&gt;
&lt;/div&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Buttons</h4>
								<div class="widget-docs-elements">
									<button type="button" class="btn btn-success btn-rounded">Success Button</button>
								</div>
								<div class="widget-docs-code">
								<pre>&lt;button type="button" class="btn btn-success btn-rounded"&gt;Success Button&lt;/button&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Dropdowns</h4>
								<div class="widget-docs-elements">
									<div ng-controller="DropdownCtrl" class="btn-group" dropdown is-open="status.isopen">
									    <button type="button" class="btn btn-danger  btn-bordered dropdown-toggle right-split" dropdown-toggle ng-disabled="disabled">
									        Button dropdown <span class="caret"></span>
									    </button>
									    <ul class="dropdown-menu" role="menu">
									        <li><a href="#">Action</a></li>
									        <li><a href="#">Another action</a></li>
									        <li><a href="#">Something else here</a></li>
									        <li class="divider"></li>
									        <li><a href="#">Separated link</a></li>
									    </ul>
									</div>
								</div>
								<div class="widget-docs-code">
									HTML<pre>&lt;div ng-controller="DropdownCtrl" class="btn-group" dropdown is-open="status.isopen"&gt;
    &lt;button type="button" class="btn btn-danger  btn-bordered dropdown-toggle right-split" dropdown-toggle ng-disabled="disabled"&gt;
        Button dropdown &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class="dropdown-menu" role="menu"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
        &lt;li class="divider"&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</pre>
JavaScript<pre>
 angular.module('yapp').controller('DropdownCtrl', function ($scope, $log) {
 $scope.status = {
        isopen: false
    };

    $scope.toggled = function(open) {
        $log.log('Dropdown is now: ', open);
    };

    $scope.toggleDropdown = function($event) {
        $event.preventDefault();
        $event.stopPropagation();
        $scope.status.isopen = !$scope.status.isopen;
    };
});
</pre>
								</div>
							<div class="well">
								<h4>Labels</h4>
								<div class="widget-docs-elements">
									<span class="label label-info">Label</span>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;span class="label label-info"&gt;Label&lt;/span&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Progress Bars</h4>
								<div class="widgets-docs-elements">
									<div class="progress">
									  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
									    <span class="sr-only"></span>
									  </div>
									</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;progressbar value="65" class="progress-striped active" type="primary"&gt;&lt;/progressbar&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Alerts</h4>
								<div class="widgets-docs-elements">
									<div class="alert alert-warning  alert-dismissable " role="alert">
									 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  My alert message.
									</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;div class="alert alert-warning  alert-dismissable " role="alert"&gt;
   &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
   &lt;span aria-hidden="true"&gt;
   &lt;/span&gt;
   &lt;/button&gt; 
   My alert message.
&lt;/div&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Tooltip & Popover</h4>
								<div class="widgets-docs-elements">
								<div ng-controller="TooltipDemoCtrl">
								 <a href="#" tooltip-placement="left" tooltip="On the Left!"><button type="button" class="btn btn-default">Left Tooltip</button></a>
								 </div>
								</div>
								<div class="widget-docs-code">
									<pre>
&lt;a href="#" tooltip-placement="left" tooltip="Tooltip on left"&gt;&lt;button type="button" class="btn btn-default"&gt;Left Tooltip&lt;/button&gt;&lt;/a&gt;
</pre>
								</div>
								<div class="widgets-docs-elements">
								<div ng-controller="PopoverDemoCtrl">
								<button popover-placement="left" popover="To the left!" class="btn btn-default">LeftPopover</button>
								</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;button popover-placement="left" popover="To the left!" class="btn btn-default"&gt;LeftPopover&lt;/button&gt;
</pre>
								</div>
								<code>For popovers and tooltips in different replace "Left" with "Top/Right/Bottom"</code>
							</div>
							<div class="well">
								<h4>Pagination</h4>
								<div class="widgets-docs-elements">
									<div class="clearfix">
										<ul class="pagination no-m-t">
											<li>
										    	<a href="#" aria-label="Previous">
										        	<span aria-hidden="true">«</span>
										      	</a>
										    </li>
										    <li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li>
										      <a href="#" aria-label="Next">
										        <span aria-hidden="true">»</span>
										      </a>
										    </li>
										</ul>
									</div>
								</div>
								<div class="widget-docs-code">
									HTML<pre>
&lt;div class="clearfix" ng-controller="PaginationDemoCtrl"&gt;
  &lt;pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" 
   next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"&gt;
  &lt;/pagination&gt;
&lt;/div&gt;</pre>
JavaScript<pre>
angular.module('yapp').controller('PaginationDemoCtrl', function ($scope, $log) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };

  $scope.pageChanged = function() {
    $log.log('Page changed to: ' + $scope.currentPage);
  };

  $scope.maxSize = 5;
  $scope.bigTotalItems = 175;
  $scope.bigCurrentPage = 1;
});
</pre>
								</div>	
							</div>
							<div class="well">
								<h4>Collapse</h4>
								<div class="widgets-docs-elements">
									<div class="panel-group" id="accordion">
										<accordion>
										    <accordion-group heading="Click here for Collapse">
										        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
										    </accordion-group>
										    <accordion-group heading="Click here for Collapse">
										        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
										    </accordion-group>
										    <accordion-group heading="Click here for Collapse">
										        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
										    </accordion-group>
										</accordion> 
									</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;accordion&gt;
    &lt;accordion-group heading="Click here for Collapse"&gt;
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
    &lt;/accordion-group&gt;
    &lt;accordion-group heading="Click here for Collapse"&gt;
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
    &lt;/accordion-group&gt;
    &lt;accordion-group heading="Click here for Collapse"&gt;
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
    &lt;/accordion-group&gt;
&lt;/accordion&gt; </pre>
			</div>
							</div>
							
							<div class="well">
							<h4>Icons</h4>
								<div class="widgets-docs-elements">
									<i class="fa fa-glass"></i> &nbsp;&nbsp; <i class="fa fa-bar-chart-o"></i>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;i class="fa fa-glass">&lt;/i&gt;
&lt;i class="fa fa-bar-chart-o"&gt;&lt;/i&gt;</pre>
								</div>
							</div>
							<div class="well">
								<div class="widgets-docs-elements">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>Address</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>John</td>
												<td>john@gmail.com</td>
												<td>London, UK</td>
											</tr>
											<tr>
												<td>Andy</td>
												<td>andygmail.com</td>
												<td>Merseyside, UK</td>
											</tr>
											<tr>
												<td>Frank</td>
												<td>frank@gmail.com</td>
												<td>Southampton, UK</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;table class="table table-bordered"&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Name&lt;/th&gt;
			&lt;th&gt;Email&lt;/th&gt;
			&lt;th&gt;Address&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;td&gt;John&lt;/td&gt;
			&lt;td&gt;john@gmail.com&lt;/td&gt;
			&lt;td&gt;London, UK&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;Andy&lt;/td&gt;
			&lt;td&gt;andygmail.com&lt;/td&gt;
			&lt;td&gt;Merseyside, UK&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;td&gt;Frank&lt;/td&gt;
			&lt;td&gt;frank@gmail.com&lt;/td&gt;
			&lt;td&gt;Southampton, UK&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;</pre>
								</div>
								<code>The table classes can be changed using table-bordered/table-hover/table-condensed classes. </code>
							</div>
							<div class="well">
							<h4>Switch</h4>
								<div class="widgets-docs-elements">
									<div class="onoffswitch">
									  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch3" checked="">
									  <label class="onoffswitch-label" for="switch3">
									    <span class="onoffswitch-inner"></span>
									    <span class="onoffswitch-switch"></span>
									  </label>
									</div>
								</div>
								<div class="widget-docs-code">
									<pre>&lt;div class="widgets-docs-elements"&gt;
	&lt;div class="onoffswitch"&gt;
	  &lt;input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch3" checked=""&gt;
	  &lt;label class="onoffswitch-label" for="switch3"&gt;
	    &lt;span class="onoffswitch-inner"&gt;&lt;/span&gt;
	    &lt;span class="onoffswitch-switch"&gt;&lt;/span&gt;
	  &lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>
								</div>
							</div>
							<div class="well">
								<h4>Form Elements</h4>
								<div class="widgets-docs-elements">
									<form>
										<div class="form-group">
											<label for="exampleInputEmail1">Email address</label>
											<input type="email" class="form-control underline" id="exampleInputEmail1" placeholder="Enter email">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1">Password</label>
											<input type="password" class="form-control underline" id="exampleInputPassword1" placeholder="Password">
										</div>
										<div class="checkbox">
													<label>
														<input type="checkbox"> Remember me
													</label>
												</div>
										<button type="submit" class="btn btn-default">Submit</button>
									</form>
								</div>
								<div class="widget-docs-code">
<pre>
&lt;form&gt;
  &lt;div class="form-group"&gt;
	&lt;label for="exampleInputEmail1"&gt;Email address&lt;/label&gt;
	&lt;input type="email" class="form-control underline" id="exampleInputEmail1" placeholder="Enter email"&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
	&lt;label for="exampleInputPassword1"&gt;Password&lt;/label&gt;
	&lt;input type="password" class="form-control underline" id="exampleInputPassword1" placeholder="Password"&gt;
  &lt;/div&gt;
  &lt;div class="checkbox"&gt;
	&lt;label&gt;
	&lt;input type="checkbox"&gt; Remember me
	&lt;/label&gt;
  &lt;/div&gt; 
  &lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;
&lt;/form&gt;</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="add-widgets">
					<h3>Plugins</h3>
					<div class="subject-content">
						<div class="well">
						<h4>Calendar</h4>
							<div class="widgets-docs-elements" ng-controller="calendarCtrl">
								<div ui-calendar ng-model="eventSources"></div>
							</div>	
							<div class="widget-docs-code">
							<pre>&lt;div ui-calendar ng-model="eventSources"&gt;&lt;/div&gt;</pre>
							</div>
						</div>
						<div class="well">
							<h4>Chart.js Charts</h4>
							<div class="widgets-docs-elements" style="width: 500px;">
								<div ng-controller="ChartCtrl">
									<canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels" colours="pie.colours">
									</canvas>
								</div>
							</div>
							<div class="widget-docs-code">
								HTML<pre>&lt;div ng-controller="ChartCtrl"&gt;
	&lt;canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels" colours="pie.colours"&gt;
	&lt;/canvas&gt;
&lt;/div&gt;</pre>
JavaScript<pre>
angular.module('yapp').controller('ChartCtrl', ['$scope', function ($scope) {
	$scope.pie = {
	labels : ["Success", "Danger", "Info"],
	data : [220, 70, 100],
	colours: ['#a2d19e','#80b1cb','#e8b769','#d57d6d','#06c5ac']
	};
}]);	
</pre>
							</div>
						</div>
						<div class="well">
							<h4>C3 Charts</h4>
							<div class="widgets-docs-elements">
								<c3chart bindto-id="pie-chart">
								    <chart-column column-id="data-1" column-values="10" column-type="pie"/>    
								    <chart-column column-id="data-2" column-values="30" column-type="pie"/>      
								    <chart-column column-id="data-3" column-values="5" column-type="pie"/>  
								    <chart-column column-id="data-4" column-values="19" column-type="pie"/>  
								    <chart-column column-id="data-5" column-values="2" column-type="pie"/>  
								    <chart-legend show-legend="false"/>  
								    <chart-colors color-pattern="#06c5ac,#e8b769,#d57d6d,#a2d19e,#80b1cb"/>  
								    <chart-size chart-height="300" chart-width="400"/>    
								</c3chart>
							</div>
							<div class="widget-docs-code">
			<pre>&lt;c3chart bindto-id="pie-chart"&gt;
    &lt;chart-column column-id="data-1" column-values="10" column-type="pie"/&gt;    
    &lt;chart-column column-id="data-2" column-values="30" column-type="pie"/&gt;      
    &lt;chart-column column-id="data-3" column-values="5" column-type="pie"/&gt;  
    &lt;chart-column column-id="data-4" column-values="19" column-type="pie"/&gt;  
    &lt;chart-column column-id="data-5" column-values="2" column-type="pie"/&gt;  
    &lt;chart-legend show-legend="false"/&gt;  
    &lt;chart-colors color-pattern="#06c5ac,#e8b769,#d57d6d,#a2d19e,#80b1cb"/&gt;  
    &lt;chart-size chart-height="300" chart-width="400"/&gt;    
&lt;/c3chart&gt;</pre>
							</div>
						</div>
						<div class="well">
							<h4>Growl Alerts</h4>
							<div class="widgets-docs-elements">
								<growl-notifications>
								 	<growl-notification ng-if="showGrowlWarning" class="growl-warning fading">Warning Notification</growl-notification>
								</growl-notifications>
								<button type="button" class="btn btn-warning" ng-click="showGrowlWarning = true">Warning Growl</button> 
							</div>
							<div class="widget-docs-code">
								<pre>&lt;growl-notifications&gt;
  &lt;growl-notification ng-if="showGrowlWarning" class="growl-warning fading"&gt;Warning Notification&lt;/growl-notification&gt;
&lt;/growl-notifications&gt;
&lt;button type="button" class="btn btn-warning" ng-click="showGrowlWarning = true"&gt;Warning Growl&lt;/button&gt; 
</pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	</div>
